<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string></string>
	<key>contactName</key>
	<string>Per Persson</string>
	<key>description</key>
	<string>New shiny bundle for X.</string>
	<key>name</key>
	<string>URLOpener</string>
	<key>uuid</key>
	<string>C5577EC5-CB8F-4D8D-9B16-30F1680E7693</string>
</dict>
</plist>
